
<nav class="navbar navbar-light bg-white navbar-full ">
  <img src="easycamp_Logo.jpg"  id="easycamplogo">
    <a class="navbar-brand first-child-md" id="navbar-brand-custom" href="/">
      {{title}}
    </a>
    <!--<button class="btn btn-default" id="logoutbtn" (click)="logout()" *ngIf="logoutbtnvisible()">Ausloggen</button>-->
    <div  id="customerMenu" >
      <ul class="nav nav-pills" *ngIf="logoutbtnvisible()">
        <li  class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Hello User!<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="customerDropDown">
          <li (click)="logout()" id="logoutlink">
              <span class="fa fa-power-off fa-fw"></span>Logout
          </li>
          </ul>
        </li>
      </ul>
    </div>
</nav>

<div class="content container ">
  <router-outlet></router-outlet>
</div>




